body {background-color: lightseagreen;
    text-align: center;
    font-family: fantasy;
}

#container {
    width: 100%;
}
.secret {
    opacity: 0.5;
}

ul {
    list-style: none;
}
table, th, td {
    border: 1px solid gray;
    margin: auto;
  }
  